html
        head
                include navbar.pug
                style 
                        include ../src/public/style.css

        body
            div(id="register-container")
              form(action='http://localhost:3000/login', method='POST')
                label(for="Email") Email
                input(type='text', name='email', value='', placeholder="Your email...")
                br
                label(for="Password") Password
                input(type='password', name='password', value='', placeholder="Your password...")
                br
                |
                br
                input(type='submit', value='Submit')