html
        head
                style 
                        include ../src/public/style.css

        body
                h1 Express Accounts 
                h3 Choose an option below

                div(id="buttons")
                        a(href='/create')
                                button Register
                        a(href='/connect')
                                 button(id="login") Login
                        a(href='/restricted')
                                button(id="test") Test if you're logged in