html
        head
                style 
                        include ../src/public/style.css

div(id="navbarlinks")
    a(href='/', class="navbarlink", style="margin-left: -2%") Home
    a(href='/create', class="navbarlink") Register
    a(href='/connect', class="navbarlink") Login
    a(href='/restricted', class="navbarlink") Restricted